<section id="signup" name="signup">
	<div class="container">
		<div>
			<h2>Music Centre London Newsletter</h2>
			
			<p>Sign up to stay up to date with key dates, concerts, and more! Over the next few months we'll be going paperless so make sure you don't miss out.</p>

		</div>
	</div>

	<div class="container">
		<div>
			<div class="form location">
				<p>Which music centre do you attend?</p>

				<div class="row">
					<input id="location-1" class="input" type="radio" name="location" value="islington">
					<label for="location-1">Islington</label>
					<input id="location-2" class="input" type="radio" name="location" value="southwark">
  					<label for="location-2">Southwark</label>
  				</div>
			</div>

			<div class="form signup">
				<div class="input email" contenteditable="true"></div>
				
				<div class="input submit">Submit</div>
				
				<div class="message"></div>
			</div>

			<p class="small">Please add <a href="mailto:no-reply@musiccentrelondon.com">no-reply@musiccentrelondon.com</a> to your address book.</p>
		</div>
	</div>
</section>