<section>
	<div class="container restrict-width">
		<div>
			<p class="tc">Trusted by...</p>

			<div class="col-xs-12 grid-logo">
				<div class="logo">
					<img class="img" src="{{site.baseurl}}/assets/img/clients/logo-holland-metropole.png" alt="Holland Metropole Logo" />
				</div>

				<div class="logo">
					<img class="img" src="{{site.baseurl}}/assets/img/clients/logo-sydney.png" alt="Committee for Sydney Logo" />
				</div>

				<div class="logo">
					<img class="img" src="{{site.baseurl}}/assets/img/clients/logo-san-diego.png" alt="San Diego EDC Logo" />
				</div>

				<div class="logo">
					<img class="img" src="{{site.baseurl}}/assets/img/clients/logo-jll.png" alt="JLL Logo" />
				</div>
			</div>
		</div>
	</div>
</section>