<section>
	<div class="container restrict-width">
		<div>
			<p class="tc">City Benchmarks benefits from its collaboration with...</p>

			<div class="col-xs-12 grid-logo">
				<div class="logo">
					<img class="img" src="{{site.baseurl}}/assets/img/partners/ucl.png" alt="UCL Logo" />
				</div>

				<div class="logo">
					<img class="img" src="{{site.baseurl}}/assets/img/partners/uli.jpg" alt="ULI Logo" />
				</div>

				<div class="logo">
					<img class="img" src="{{site.baseurl}}/assets/img/partners/tboc.png" alt="TBOC Logo" />
				</div>

				<div class="logo">
					<img class="img" src="{{site.baseurl}}/assets/img/partners/oecd.png" alt="OECD Logo" />
				</div>
			</div>
		</div>
	</div>
</section>