@import 'breakpoints';
@import 'gutter';

@mixin colorize-bg($bg-img, $color, $overlay-img: '') {
	background-image: url($overlay-img), linear-gradient($color,$color), url($bg-img);
	background-size: auto, auto, cover;
	background-position: left top, left top, center center;
	background-repeat: no-repeat;
}

@mixin recolorize-bg($bg-img, $color, $overlay-img: '') {
	background-image: url($overlay-img), linear-gradient($color,$color), url($bg-img);
}