<li>

	<ul class="dropdown-content">
	
		<a class="link" href="{{ site.baseurl }}/about/"><li style="color:white">About</li></a>
	
		<a class="link" href="{{ site.baseurl }}/about/aims/"><li style="color:white">Our Aims</li></a>

		<a class="link" href="{{ site.baseurl }}/about/notable/"><li style="color:white">Performances</li></a>
		
		<a class="link" href="{{ site.baseurl }}/about/staff/"><li style="color:white">Our Staff</li></a>

		<a class="link" href="{{ site.baseurl }}/about/young-apprentice/"><li style="color:white">Apprentices</li></a>		
		
		<a class="link" href="{{ site.baseurl }}/how-to-apply/"><li style="color:white">Apply</li></a>
		
		<a class="link" href="{{ site.baseurl }}/how-to-apply/calendar/"><li style="color:white">Calendar</li></a>
		
		<a class="link" href="{{ site.baseurl }}/contact/"><li style="color:white">Contact</li></a>
		
		<a class="link" href="{{ site.baseurl }}/contact/getting-here/"><li style="color:white">Locations</li></a>
		
		<a class="link" href="{{ site.baseurl }}/contact/newsletter/"><li style="color:white">Newsletter</li></a>
		
	</ul>
</li>