<li>

	<ul class="dropdown-content">
	
		<a class="link" href="{{ site.baseurl }}/about/"><li>About</li></a>
	
		<a class="link" href="{{ site.baseurl }}/about/aims/"><li>Our Aims</li></a>

		<a class="link" href="{{ site.baseurl }}/about/notable/"><li>Performances</li></a>
		
		<a class="link" href="{{ site.baseurl }}/about/staff/"><li>Our Staff</li></a>

		<a class="link" href="{{ site.baseurl }}/about/young-apprentice/"><li>Apprentices</li></a>		
		
		<a class="link" href="{{ site.baseurl }}/how-to-apply/"><li>Apply</li></a>
		
		<a class="link" href="{{ site.baseurl }}/how-to-apply/calendar/"><li>Calendar</li></a>
		
		<a class="link" href="{{ site.baseurl }}/contact/"><li>Contact</li></a>
		
		<a class="link" href="{{ site.baseurl }}/contact/getting-here/"><li>Locations</li></a>
		
		<a class="link" href="{{ site.baseurl }}/contact/newsletter/"><li>Newsletter</li></a>
		
	</ul>
</li>