<li>

	<ul class="dropdown-content">
	
		<li style="color:white"><a class="link" href="{{ site.baseurl }}/about/">About</a>&nbsp;&nbsp;&nbsp;<a class="link" href="{{ site.baseurl }}/about/aims/">Our Aims</a></li>
	
		<li style="color:white"><a class="link" href="{{ site.baseurl }}/about/notable/">Performances</a>&nbsp;&nbsp;&nbsp;<a class="link" href="{{ site.baseurl }}/how-to-apply/">Apply</a></li>		
		
		<li style="color:white"><a class="link" href="{{ site.baseurl }}/about/young-apprentice/">Apprentices</a>&nbsp;&nbsp;&nbsp;<a class="link" href="{{ site.baseurl }}/contact/">Contact</a></li>
		
		<li style="color:white"><a class="link" href="{{ site.baseurl }}/about/staff/">Our Staff</a>&nbsp;&nbsp;&nbsp;<a class="link" href="{{ site.baseurl }}/how-to-apply/calendar/">Calendar</a></li>
		
		<li style="color:white"><a class="link" href="{{ site.baseurl }}/contact/getting-here/">Locations</a>&nbsp;&nbsp;&nbsp;<a class="link" href="{{ site.baseurl }}/contact/newsletter/">Newsletter</a></li>
		
	</ul>
</li>