<div class="dropdown_NEW">
  <button class="dropbtn_NEW">About Us</button>
  <div class="dropdown-content_NEW">
    <a href="{{ site.baseurl }}/about/">About Us</a>
    <a href="{{ site.baseurl }}/about/aims/">Our Aims</a>
    <a href="{{ site.baseurl }}/about/notable/">Notable Performances</a>
    <a href="{{ site.baseurl }}/about/young-apprentice/">Our Apprentices</a>
  </div>
</div>
<div class="dropdown_NEW">
  <button class="dropbtn_NEW">How to Apply</button>
  <div class="dropdown-content_NEW">
    <a href="{{ site.baseurl }}/how-to-apply/">How to Apply</a>
    <a href="{{ site.baseurl }}/how-to-apply/calendar/">Calendar</a>
  </div>
</div>
<div class="dropdown_NEW">
  <button class="dropbtn_NEW">Contact</button>
  <div class="dropdown-content_NEW">
    <a href="{{ site.baseurl }}/contact/">Contact Us</a>
    <a href="{{ site.baseurl }}/contact/getting-here/">Locations</a>
    <a href="{{ site.baseurl }}/contact/newsletter/">Newsletter</a>
  </div>
</div>